<div class="parent">
    <div class="login-card">
        <div class="avatar">
            <i class="bi bi-person-circle"></i>
        </div>
        <h2 class="mb-4">Admin Login</h2>
        <form novalidate>
            <div class="mb-3 input-group">
                <span class="input-group-text"><i class="bi bi-person"></i></span>
                <input type="text" class="form-control" placeholder="Username" [(ngModel)]="loginObj.userName" name="userName" required>
            </div>
            <div class="mb-3 input-group">
                <span class="input-group-text"><i class="bi bi-lock"></i></span>
                
                <input type="password" class="form-control" placeholder="Password" [(ngModel)]="loginObj.password" name="password" required>
            </div>
            <button type="button" (click)="onLogin()" class="btn btn-login w-100">Login</button>
            <a href="#" class="forgot-link">Forgot Password?</a>
        </form>
    </div>
</div>